.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block{
  position: relative;
  margin-bottom: 20px;
  width: 60%;
  border: 2px solid #9a9a9a;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #efefef;
}

.question{
  font-size: 18px;
  display: flex;
  justify-content: start;
}

.q3{
  margin: 5px;
  padding: 3px 5px;
  list-style:circle;
}